<div ng-controller="indexController">
  <div class="header">
    <h1>ORTHO-LA</h1>
    <p class="subtitle">Los Angeles's premier orthopedic surgeons, categorized by specialty</p>
    <hr>
  </div>

  <div class="links-and-flash">
    <div class="links">
      <% if current_user %>
        <p>Logged in as: <%= current_user.first_name + ' ' + current_user.last_name %> &nbsp;| &nbsp;<a href="/logout">Logout</a></p>
        <% else %>
        <p><a href="#loginModal" data-toggle="modal" data-target="#loginModal">Login</a> &nbsp;| &nbsp;<a href="#signupModal" data-toggle="modal" data-target="#signupModal">Signup</a></p>
      <% end %>
    </div>
    <div class="flash-messages">
      <div class="fade-flash-messages">
        <% flash.each do |key, value| %>
        
            <div class="alert alert-<%= key %>" role="alert">
            <%# value.each do |v| %>
              <%= value %><br>
               <%# end %>
            </div>
        
        <% end %>
      </div>
    </div>
  </div>


<div class="outer-container">
  <div class="surgeons">
    <div class="surgeon-list animate-hide" ng-show="showKneeDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'knee') %>  
    </div>
    <div class="surgeon-list animate-hide" ng-show="showFootDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'foot/ankle') %>
    </div>
    <div class="surgeon-list animate-hide" ng-show="showHipDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'hip') %>
    </div>
    <div class="surgeon-list animate-hide" ng-show="showHandDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'hand/wrist') %>
    </div>
    <div class="surgeon-list animate-hide" ng-show="showShoulderDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'shoulder') %>
    </div>
    <div class="surgeon-list animate-hide" ng-show="showSpineDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'spine/back') %>
    </div>
    <div class="surgeon-list animate-hide" ng-show="showElbowDoctors">
      <%= render partial: "doctor", collection: @doctors.where(specialty: 'elbow') %>
    </div>
  </div>


  <div class="body-parts">
    <div class="selected-body-part">
      <h3 id="body-part"></h3>
    </div>

    <div id="body">
      <%= image_tag('man-front-back.png') %>
      <div id="knee" class="body-style" ng-click="showKneeDoctors=true; showHipDoctors=false; showElbowDoctors=false; showFootDoctors=false; showHandDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="knee2" class="body-style" ng-click="showKneeDoctors=true; showHipDoctors=false; showElbowDoctors=false; showFootDoctors=false; showHandDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="knee3" class="body-style" ng-click="showKneeDoctors=true; showHipDoctors=false; showElbowDoctors=false; showFootDoctors=false; showHandDoctors=false; showSpineDoctors=false;showShoulderDoctors=false"></div>
      <div id="knee4" class="body-style" ng-click="showKneeDoctors=true; showHipDoctors=false; showElbowDoctors=false; showFootDoctors=false; showHandDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="ankle" class="body-style" ng-click="showFootDoctors=true; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showHandDoctors=false; showShoulderDoctors=false"></div>
      <div id="ankle2" class="body-style" ng-click="showFootDoctors=true; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showHandDoctors=false; showShoulderDoctors=false"></div>
      <div id="ankle3" class="body-style" ng-click="showFootDoctors=true; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showHandDoctors=false; showShoulderDoctors=false"></div>
      <div id="ankle4" class="body-style" ng-click="showFootDoctors=true; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showHandDoctors=false; showShoulderDoctors=false"></div>
      <div id="foot" class="body-style" ng-click="showFootDoctors=true; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showHandDoctors=false; showShoulderDoctors=false"></div>
      <div id="foot2" class="body-style" ng-click="showFootDoctors=true; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showHandDoctors=false; showShoulderDoctors=false"></div>
      <div id="hand" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="hand2" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="hand3" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="hand4" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="elbow" class="body-style" ng-click="showElbowDoctors=true; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="elbow2" class="body-style" ng-click="showElbowDoctors=true; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="elbow3" class="body-style" ng-click="showElbowDoctors=true; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="elbow4" class="body-style" ng-click="showElbowDoctors=true; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="wrist" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="wrist2" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="wrist3" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="wrist4" class="body-style" ng-click="showHandDoctors=true; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showElbowDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="shoulder" class="body-style" ng-click="showShoulderDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false"></div>
      <div id="shoulder2" class="body-style" ng-click="showShoulderDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false"></div>
      <div id="shoulder3" class="body-style" ng-click="showShoulderDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false"></div>
      <div id="shoulder4" class="body-style" ng-click="showShoulderDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showSpineDoctors=false"></div>
      <div id="spine" class="body-style" ng-click="showSpineDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showShoulderDoctors=false"></div>
      <div id="spine2" class="body-style" ng-click="showSpineDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showShoulderDoctors=false"></div>
      <div id="spine3" class="body-style" ng-click="showSpineDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showShoulderDoctors=false"></div>
      <div id="spine4" class="body-style" ng-click="showSpineDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showShoulderDoctors=false"></div>
      <div id="spine5" class="body-style" ng-click="showSpineDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showHipDoctors=false; showShoulderDoctors=false"></div>
      <div id="hip" class="body-style" ng-click="showHipDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="hip2" class="body-style" ng-click="showHipDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="hip3" class="body-style" ng-click="showHipDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
      <div id="hip4" class="body-style" ng-click="showHipDoctors=true; showElbowDoctors=false; showHandDoctors=false; showFootDoctors=false; showKneeDoctors=false; showSpineDoctors=false; showShoulderDoctors=false"></div>
    </div>

  </div>

  <div class="reviews animate-hide-right" ng-show="showReviews">
    <div class="review-list">
      <div id="reviews">
      </div>
    </div>
</div>


<!-- LOGIN MODAL BEGINS HERE (part of header) -->

  <div class="modal fade" id="loginModal">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">

        <%= form_for :user, url: '/login' do |f| %> 
          <div class="form-group">
            <label for="email">Email Address</label>
            <%= f.email_field :email, placeholder: 'Enter your email', class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <%= f.password_field :password, placeholder: 'Enter your password', class: "form-control", required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <%= f.submit "Login!", class: "btn btn-primary", id: 'login-button' %>
        </div>
        <% end %>
       </div>
     </div>
  </div>


<!-- SIGNUP MODAL BEGINS HERE (part of header) -->

  <div class="modal fade" id="signupModal">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title">Signup</h4>
        </div>
        <div class="modal-body">

        <%= form_for :user, url: '/signup' do |f| %> 
          <div class="form-group">
            <label for="first_name">First Name</label>
            <%= f.text_field :first_name, placeholder: 'Enter your first name', class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <%= f.text_field :last_name, placeholder: 'Enter your last name', class: "form-control", required: true %>
          </div>    
          <div class="form-group">
            <label for="username">Username</label>
            <%= f.text_field :username, placeholder: 'Choose a username', class: "form-control", required: true %>
          </div>  
          <div class="form-group">
            <label for="email">Email Address</label>
            <%= f.text_field :email, placeholder: 'Enter your email address', class: "form-control", required: true %>
          </div>  
          <div class="form-group">
            <label for="city">Location</label>
              <div class="form-inline">
                  <%= f.text_field :city, placeholder: 'Enter your city', class: "form-control left-input", required: true %>
                  <%= f.text_field :state, placeholder: 'Enter your state', class: "form-control right-input", required: true %>
              </div>
          </div> 
          <div class="form-group">
            <label for="password">Password</label>
            <%= f.password_field :password, placeholder: 'Choose a password (at least 6 characters)', class: "form-control", required: true %>
          </div>  
          <div class="form-group">
            <label for="password_confirmation">Password Confirmation</label>
            <%= f.password_field :password_confirmation, placeholder: 'Enter your password once more', class: "form-control", required: true %>
          </div>  
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <%= f.submit "Signup!", class: "btn btn-primary", id: 'signup-button' %>
        </div>
        <% end %>
       </div>
     </div>
  </div>
</div>
</div>

