<div id="review-title">
  <p>Reviews of <%= @name %></p>
</div>

<div class="all-reviews">
<% @reviews.each do |r| %>
  <div class="review">
    <p class="rating-number"><%= r.rating %></p>
    <p class="rating-title">Rating:</p>
    <p class="review-info"><%= r.user.username %> from <%= r.user.city %>, <%= r.user.state %>, says:</p>
    <p class="review-text"><%= r.body %></p>
  </div>
<% end %>
</div>

<div id="add-review">
  <% if current_user %>
    <%= link_to "Add Review", new_user_doctor_review_path(user_id: current_user.id, doctor_id: @id), remote: true %>
        <div id="review-<%= @id %>"></div> 
  <% else %>
    <p>Signup to create an account and review a doctor.</p>
  <% end %>
</div>

