
$('#doctor-<%= @review.doctor.id %>-review-count').html('<%= @review.doctor.reviews.count %><% if @review.doctor.reviews.count == 1 %> review<% else%> reviews<% end %></p>');

$('.all-reviews').prepend('<div class="review"><p class="rating-title">Rating:<span class="rating-number"><%= @review.rating %></span></p><p class="review-info"><%= @review.user.username %> from <%= @review.user.city %>, <%= @review.user.state %>, says:</p><p class="review-text"><%= @review.body %></p><p class="review-date">Reviewed on <%= @review.date_published %></p></div>');

$('#review-<%= @review.doctor_id %>').slideUp(400, function() {
  $(this).empty();
});

$('#add-review-link').empty().html('Thank you for your review!').css('color', 'rgb(49, 101, 171)');

