$('#doctor-<%= @review.doctor.id %>-review-count').html('<%= @review.doctor.reviews.count %> reviews');

$('.all-reviews').append('<div class="review"><p><%= @review.user.username %> from <%= @review.user.city %>, <%= @review.user.state %>, says: <br> <%= @review.body %></p><p>Rating: <%= @review.rating %></p></div>');


$('#review-<%= @review.doctor_id %>').empty();



