
// ADDS THE UPDATED REVIEW TO THE TOP OF THE ALL-REVIEWS COLUMN ON SUBMIT
$('.review-<%= @review.id %>').empty().html('<p class="rating-title">Rating:<span class="rating-number"><%= @review.rating %></span></p><p class="review-info"><%= @review.user.username %> from <%= @review.user.city %>, <%= @review.user.state %>, says:</p><p class="review-text"><%= @review.body %></p><p class="review-date">Reviewed on <%= @review.date_published %></p>');

// SLIDES UP THE REVIEW FORM WHEN THE REVIEW IS SUBMITTED
$('#review-<%= @review.doctor_id %>').slideUp(400, function() {
  $(this).empty();
});

// REMOVES THE REVIEW FORM TITLE AND CHANGES THE HTML AND CSS
$('#edit-review-link').empty().html('Thank you for your updated review!<br><br>').css('color', 'rgb(49, 101, 171)').delay(1000).fadeOut(800);

$('#review-buttons').append('<%= link_to edit_user_doctor_review_path(user_id: current_user.id, doctor_id: @id, id: current_user.reviews.find_by(doctor_id: @id).id), remote: true, class: "btn btn-primary" do %><%= image_tag("edit-32.png", size: "14") %><span>&nbsp;&nbsp;Edit Review</span><% end %>');


// CHANGES THE AVERAGE REVIEW HTML WHEN THE REVIEW IS SUBMITTED
$('#rating-average-div-<%= @review.doctor.id %>').html('<% if @review.doctor.reviews.average(:rating).to_f > 0 %><div class="rating-average"><%= @review.doctor.reviews.average(:rating).to_f.round(1) %></div><% end %>');

